body {
    font-family: sans-serif;
    background-color: #fff;
    margin-top: 60px;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: #555;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
